body {
  overflow-x: hidden; }

header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center; }
  header h1 {
    margin-top: 225px;
    margin-bottom: 170px;
    font-size: 60px;
    font-family: "Exo", sans-serif;
    font-weight: 100; }
    @media screen and (max-width: 576px) {
      header h1 {
        font-size: 45px; } }
  header a {
    padding: 18px 48px;
    background-color: #ff6d6d;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-size: 16px; }
    header a:hover {
      color: white;
      text-decoration: none; }
    @media screen and (max-width: 576px) {
      header a {
        padding: 10px 33px;
        font-size: 13px; } }
  header p {
    margin-bottom: 226px;
    margin-top: 43px;
    font-family: "Exo", sans-serif;
    font-size: 14px;
    color: #8a8a8a; }

.new_design {
  background-image: url("../images/section2.jpg");
  background-size: cover;
  background-position: center; }
  .new_design h3 {
    margin-top: 191px;
    color: #ff6d6d;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 18px; }
  .new_design h2 {
    color: black;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 61px; }
    .new_design h2 span {
      color: #ff6d6d; }
    @media screen and (max-width: 576px) {
      .new_design h2 {
        font-size: 30px; } }
  .new_design .first {
    color: #8a8a8a;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 20px; }
    @media screen and (max-width: 576px) {
      .new_design .first {
        font-size: 12px; } }
  .new_design p {
    color: #8a8a8a;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 172px; }
    @media screen and (max-width: 576px) {
      .new_design p {
        font-size: 13px; } }

.new_features {
  background-image: url("../images/section3.jpg");
  background-size: cover;
  background-position: center; }
  .new_features h3 {
    margin-top: 138px;
    margin-bottom: 24px;
    color: #ff6d6d;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
  .new_features h2 {
    color: black;
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
    @media screen and (max-width: 576px) {
      .new_features h2 {
        font-size: 30px; } }
  .new_features i {
    margin-top: 200px;
    font-size: 40px;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    text-align: center;
    background-color: #2394bc;
    padding-top: 25px;
    color: white;
    margin-bottom: 34px; }
    @media screen and (max-width: 576px) {
      .new_features i {
        margin-top: 100px;
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding-top: 13px; } }
  .new_features h4 {
    color: black;
    font-size: 22px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 24px; }
    @media screen and (max-width: 576px) {
      .new_features h4 {
        font-size: 15px;
        margin-bottom: 14px; } }
    @media screen and (max-width: 320px) {
      .new_features h4 {
        font-size: 13px; } }
  .new_features p {
    color: #8a8a8a;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 190px; }
    @media screen and (max-width: 576px) {
      .new_features p {
        font-size: 13px; } }
    @media screen and (max-width: 320px) {
      .new_features p {
        font-size: 8px; } }

.new_design2 {
  background-image: url("../images/section4.jpg");
  background-size: cover;
  background-position: center; }
  .new_design2 h3 {
    color: #ff6d6d;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 141px;
    margin-bottom: 35px; }
  .new_design2 h2 {
    color: black;
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 49px; }
    .new_design2 h2 span {
      color: #ff6d6d; }
  .new_design2 p {
    color: #8a8a8a;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 151px; }

.staff {
  background-image: url("../images/section5.jpg");
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 992px) {
    .staff img {
      height: auto;
      width: 100%;
      display: inline-block; } }
  @media screen and (max-width: 768px) {
    .staff img {
      height: auto;
      width: 100%;
      display: inline-block; } }
  @media screen and (max-width: 320px) {
    .staff img {
      height: auto;
      width: 100%;
      display: inline-block; } }
  .staff ul {
    list-style-type: none; }
  .staff h2 {
    font-size: 22px;
    color: #FFFFFF;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 15px; }
    @media screen and (max-width: 992px) {
      .staff h2 {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      .staff h2 {
        font-size: 16px; } }
    @media screen and (max-width: 320px) {
      .staff h2 {
        font-size: 16px; } }
  .staff h3 {
    font-size: 16px;
    color: #ff6d6d;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 40px; }
    @media screen and (max-width: 992px) {
      .staff h3 {
        font-size: 12px; } }
    @media screen and (max-width: 768px) {
      .staff h3 {
        font-size: 12px; } }
    @media screen and (max-width: 320px) {
      .staff h3 {
        font-size: 12px; } }
  .staff p {
    font-size: 16px;
    color: #c8c8c9;
    font-family: "Exo", sans-serif;
    font-weight: 400; }
    @media screen and (max-width: 992px) {
      .staff p {
        font-size: 13px; } }
    @media screen and (max-width: 768px) {
      .staff p {
        font-size: 13px; } }
    @media screen and (max-width: 320px) {
      .staff p {
        font-size: 13px; } }
  .staff .container {
    padding-top: 110px; }
  .staff .logo img {
    margin: 100px 50px 90px 50px; }
    @media screen and (max-width: 1140px) {
      .staff .logo img {
        margin: 70px 10px 60px 10px; } }
    @media screen and (max-width: 992px) {
      .staff .logo img {
        margin: 30px 8px 20px 8px;
        width: 27%; } }
    @media screen and (max-width: 768px) {
      .staff .logo img {
        width: 27%; } }
    @media screen and (max-width: 320px) {
      .staff .logo img {
        margin: 30px 8px 20px 8px;
        width: 27%; } }

.owl-carousel .owl-nav button.owl-prev {
  background-image: url("../images/left.png");
  background-position: center;
  background-size: contain;
  background-color: #4e4e5e;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30%;
  left: -40px;
  z-index: 1;
  display: inline-block; }
  .owl-carousel .owl-nav button.owl-prev:hover {
    background-image: url("../images/left.png");
    background-position: center;
    background-size: contain;
    background-color: #4e4e5e; }
  @media screen and (max-width: 992px) {
    .owl-carousel .owl-nav button.owl-prev {
      background: none; } }
  @media screen and (max-width: 768px) {
    .owl-carousel .owl-nav button.owl-prev {
      background: none; } }
  @media screen and (max-width: 320px) {
    .owl-carousel .owl-nav button.owl-prev {
      background: none; } }

.owl-carousel .owl-nav button.owl-next {
  background-image: url("../images/right.png");
  background-position: center;
  background-size: contain;
  background-color: #4e4e5e;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30%;
  right: -70px;
  z-index: 2;
  display: inline-block; }
  .owl-carousel .owl-nav button.owl-next:hover {
    background-image: url("../images/right.png");
    background-position: center;
    background-size: contain;
    background-color: #4e4e5e; }
  @media screen and (max-width: 1024px) {
    .owl-carousel .owl-nav button.owl-next {
      right: -40px; } }
  @media screen and (max-width: 992px) {
    .owl-carousel .owl-nav button.owl-next {
      background: none; } }
  @media screen and (max-width: 768px) {
    .owl-carousel .owl-nav button.owl-next {
      background: none; } }
  @media screen and (max-width: 320px) {
    .owl-carousel .owl-nav button.owl-next {
      background: none; } }

.block6 {
  background-image: url("../images/section6.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }
  .block6 h3 {
    margin-top: 107px;
    margin-bottom: 26px;
    font-size: 16px;
    color: #ff6d6d;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  .block6 h2 {
    margin-bottom: 53px;
    font-size: 40px;
    color: black;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  .block6 p {
    margin-bottom: 470px;
    font-size: 16px;
    color: #8a8a8a;
    font-family: "Exo", sans-serif;
    font-weight: 500; }

.forms {
  background-color: #323969; }
  .forms h3 {
    margin-top: 97px;
    margin-bottom: 26px;
    font-size: 16px;
    color: #ff6d6d;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
  .forms h2 {
    color: white;
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    margin-bottom: 107px; }
  .forms form {
    margin-bottom: 50px; }
    .forms form input[type="text"]::-webkit-input-placeholder {
      color: white; }
    .forms form input[type="email"]::-webkit-input-placeholder {
      color: white; }
    .forms form input[type="password"]::-webkit-input-placeholder {
      color: white; }
    .forms form button {
      background-color: #ff6d6d;
      color: white;
      font-size: 16px;
      font-family: "Exo", sans-serif;
      font-weight: 400;
      padding: 13px 50px;
      text-transform: uppercase;
      border: none;
      margin: 0 10px; }
      @media screen and (max-width: 1200px) {
        .forms form button {
          margin-top: 25px;
          margin-left: 350px; } }
      @media screen and (max-width: 768px) {
        .forms form button {
          margin-top: 5px;
          margin-left: 10px; } }
      @media screen and (max-width: 320px) {
        .forms form button {
          margin-top: 5px;
          margin-left: 10px; } }
    .forms form input {
      background-color: #464c77;
      padding: 10px 0 10px 29px;
      width: 267px;
      font-size: 16px;
      font-family: "Exo", sans-serif;
      font-weight: 400;
      border: solid 1px #999cb4;
      margin-left: 10px;
      margin-right: 10px;
      color: #FFFFFF; }
      @media screen and (max-width: 320px) {
        .forms form input {
          margin-top: 5px; } }
      @media screen and (max-width: 768px) {
        .forms form input {
          margin-top: 5px; } }
  .forms p {
    margin-bottom: 90px;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #a8aabc; }
    .forms p a {
      color: #a8aabc;
      border-bottom: solid 1px #a8aabc; }
      .forms p a:hover {
        text-decoration: none; }

.footer {
  background-image: url("../images/section8.jpg");
  background-size: cover;
  background-position: center; }
  .footer h2 {
    color: black;
    font-size: 22px;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  .footer p {
    font-size: 14px;
    color: #8a8a8a;
    font-family: "Exo", sans-serif;
    font-weight: 500; }
  @media screen and (max-width: 768px) {
    .footer h2 {
      font-size: 12px; }
    .footer p {
      font-size: 8px; } }
  .footer .section1 {
    margin-top: 84px; }
    .footer .section1 p {
      margin-top: 13px; }
  .footer .section2 p {
    margin-top: 16px; }
  .footer .section3 p {
    margin-top: 16px; }
  .footer .section4 form {
    margin-top: 30px;
    margin-bottom: 20px; }
    @media screen and (max-width: 576px) {
      .footer .section4 form {
        margin-top: 10px; } }
    .footer .section4 form input {
      width: 214px;
      padding: 10px 0 10px 29px;
      background-color: #f6f6f6;
      border: solid 1px #b8b8bf;
      color: #949494;
      font-size: 14px; }
      @media screen and (max-width: 768px) {
        .footer .section4 form input {
          width: 210px; } }
      @media screen and (max-width: 576px) {
        .footer .section4 form input {
          width: 100px;
          padding: 2px 0 2px 9px;
          font-size: 10px; } }
      @media screen and (max-width: 320px) {
        .footer .section4 form input {
          width: 100px;
          padding: 2px 0 2px 9px;
          font-size: 10px; } }
    .footer .section4 form button {
      font-size: 22px;
      padding: 3px 15px 8px 15px;
      background-color: #ff6d6d;
      color: #FFFFFF;
      margin-left: -4px;
      border: none; }
      @media screen and (max-width: 768px) {
        .footer .section4 form button {
          font-size: 20px;
          padding: 5px 13px 9px 13px; } }
      @media screen and (max-width: 576px) {
        .footer .section4 form button {
          font-size: 10px;
          padding: 0 9px 3px 10px; } }
      @media screen and (max-width: 320px) {
        .footer .section4 form button {
          font-size: 10px;
          padding: 0 9px 3px 10px; } }
    .footer .section4 form i {
      position: center;
      padding-top: 4px; }
  .footer .section4 .social i {
    font-size: 20px;
    color: #cbcbcb;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 90px; }
    @media screen and (max-width: 576px) {
      .footer .section4 .social i {
        font-size: 15px; } }

/*# sourceMappingURL=style2.css.map */
